
/* Your CSS Code here. */
.moviePic{
	height:50%;
	width:50%;
	opacity:100%
}

.movieDetail{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,50%);
	width:40%;
	text-align:center;
	font-size:20px;
}